html,
body {
  height: 100%;
}
.mv-main-body {
  position: relative;
  width: 100%;
  height: 100%;
}
.mv-main-container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.mv-main-container-warp {
  position: absolute;
  min-width: 1000px;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  overflow: auto;
}