//渐变辅助色


//字体色库
$mv-font-level1: #36383c;
$mv-font-level2: #6f7479;
$mv-font-level3: #91989e;
$mv-font-level4: #d0d3d5;
$mv-font-link: #0ea5f3;

//背景色库
$mv-bg-common: #ffffff;
$mv-bg-level1: #f0f2f5;
$mv-bg-level2: #3d4150;
$mv-bg-level3: #3f455b;