/*主要样式*/
* {
	margin: 0;
	padding: 0;
}
html,
body {
	width: 100%;
	font-size: 14px;
	line-height: 1.42857143;
  font-family: "微软雅黑";
  background-color: $mv-bg-level1;
  color: $mv-font-level1;
}
/*重写滚动条样式 for webkit浏览器*/
/*滚动条整体部分，可以设置宽度啥的*/
::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
/*滚动条两端的按钮*/
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
/*外层轨道*/
::-webkit-scrollbar-track {
  background: rgba(0,0,0,.5);
  border:solid 1px #121212;
  box-shadow: 0px 0px 3px #121212 inset;
  border-radius: 8px;
}
/*内层滚动槽*/
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}
/*滚动的滑块*/
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.3);
  border-radius: 8px;
}
/*滚动的滑块,鼠标放上时*/
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,.5);
}
/*禁止选中*/
.no-select {
  user-select: none;
}
//清除浮动
.mv-clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.mv-clearfix {
  *zoom: 1;
}
//卡片card区域