<!DOCTYPE html>
<html lang="en">

<head>
  <title>后台管理</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href=''>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Cache-Control" content="no-store" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <!--IOS设备上禁止将数字识别为可点击的tel link-->
  <meta content="telephone=no" name="format-detection">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" type="text/css" href='../../static/css/font.css'>
  <link rel="stylesheet" type="text/css" href='../../static/css/base.css'>
  <link rel="stylesheet" type="text/css" href='../../static/css/web/public.css'>
  <link rel="stylesheet" type="text/css" href="../../static/_public/bootstrap.table.min.css" />
  <style>
    .pramas {
      max-height: 240px;
      overflow: auto;
    }
    .pramas span {
      display: block;
      height: 40px;
      line-height: 40px;
      width: 100%;
    }
  </style>
  <!--[if lt IE 9]>
            <script src="../../static/_public/html5.js"></script>
	<![endif]-->
</head>

<body class="iframe-body">
  <div class="card-space">
    <div class="card-title">查询结果
      <div class="button-group tabs">
        <div data-value="insertService" class="button margin-r5 active">服务</div>
        <div data-value="insertRegular" class="button">规则</div>
      </div>
    </div>
    <div class="card-container">
      <div class="button-group" style="float:left;position: absolute;top: 10px;z-index: 97;">
        <i class="iconfont icon-zengjia" data-click="add"></i>
      </div>
      <div class="chartArea active">
        <div class="item-box">
          <div class="item active">
            <div class='table-area' style="white-space: nowrap; overflow: hidden; overflow-x: scroll; -webkit-backface-visibility: hidden; -webkit-overflow-scrolling: touch;">
              <table id="table1"></table>
            </div>
          </div>
          <div class="item">
            <div class='table-area' style="white-space: nowrap; overflow: hidden; overflow-x: scroll; -webkit-backface-visibility: hidden; -webkit-overflow-scrolling: touch;">
              <table id="table2" class="table table-hover table-no-bordered"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="popupAddHtml" style="display: none;">
    <form>
      <div class="form-item radio-group has-icon service-item">
        <label class=" form-label">组合服务:</label>
        <div class="radio-item"><input type="radio" class="iconfont" value=true name="combine">是</div>
        <div class="radio-item"><input type="radio" class="iconfont" value=false checked="checked" name="combine">否</div>
      </div>
      <div class="form-item form-must-icon isCombine service-item">
        <label data-value="规则名称" class="form-label">服务名称：</label>
        <input type="text" name="serviceName" class="m-input form-input" placeholder="请输入服务名称">
      </div>
      <div class="form-item form-must-icon isCombine service-item">
        <label data-value="规则名称" class="form-label">服务中文名称：</label>
        <input type="text" name="serviceNameZh" class="m-input form-input" placeholder="请输入服务中文名称">
      </div>
      <div class="form-item form-must-icon service-item isCombine">
        <label class="form-label">子服务：</label>
        <div class="select-dropdown m-input" data-do="select" data-search="true" data-multiple="true">
          <div class="text-warp selected-value"></div>
          <input type="hidden" name="subService" />
          <ul class="dropdown-menu subService multiple">
          </ul>
        </div>
      </div>
      <div class="form-item form-must-icon service-item noCombine">
        <label class="form-label">服务名称：</label>
        <div class="select-dropdown m-input" data-do="select" data-search="true">
          <div class="text-warp selected-value"></div>
          <input type="hidden" name="serviceName" />
          <ul class="dropdown-menu serviceName">
          </ul>
        </div>
      </div>
      <div class="form-item form-must-icon regular-item">
        <label data-value="规则名称" class="form-label">规则名称：</label>
        <input type="text" name="regularName" class="m-input form-input" placeholder="请输入规则名称">
      </div>
      <div class="form-item form-must-icon  regular-item">
        <label data-value="告警码" class="form-label">告警码：</label>
        <input type="text" name="alarmCode" class="m-input form-input" placeholder="请输入告警码">
      </div>
      <div class="form-item form-must-icon  regular-item">
        <label data-value="告警描述" class="form-label">告警描述：</label>
        <input type="text" name="alarmMsg" class="m-input form-input" placeholder="请输入告警描述">
      </div>
      <div class="confirm-btns">
        <div class="button button-main" data-click="addFuns">保存</div>
        <div class="button" data-click="hidepopup">取消</div>
      </div>
    </form>
  </div>
  <div id="popupUpdateHtml" style="display: none;">
    <form>
      <div class="form-item radio-group has-icon service-item">
        <label class=" form-label">组合服务:</label>
        <div class="radio-item"><input type="radio" class="iconfont no-link" value=true checked="checked" disabled name="combine">是</div>
        <div class="radio-item"><input type="radio" class="iconfont" value=false disabled name="combine">否</div>
      </div>
      <div class="form-item form-must-icon isCombine service-item">
        <label data-value="规则名称" class="form-label">服务名称：</label>
        <input type="text" name="serviceName" class="m-input form-input" disabled placeholder="请输入服务名称">
      </div>
      <div class="form-item form-must-icon isCombine service-item">
        <label data-value="规则名称" class="form-label">服务中文名称：</label>
        <input type="text" name="serviceNameZh" class="m-input form-input" disabled placeholder="请输入服务中文名称">
      </div>
      <div class="form-item form-must-icon service-item isCombine">
        <label class="form-label">子服务：</label>
        <div class="select-dropdown m-input" data-do="select" data-search="true" data-multiple="true">
          <div class="text-warp selected-value"></div>
          <input type="hidden" name="subService" />
          <ul class="dropdown-menu subService multiple">
          </ul>
        </div>
      </div>
      <div class="form-item form-must-icon regular-item">
        <label data-value="规则名称" class="form-label">规则名称：</label>
        <input type="text" name="regularName" class="m-input form-input" placeholder="请输入规则名称">
      </div>
      <div class="form-item form-must-icon  regular-item">
        <label data-value="告警码" class="form-label">告警码：</label>
        <input type="text" name="alarmCode" class="m-input form-input" placeholder="请输入告警码">
      </div>
      <div class="form-item form-must-icon  regular-item">
        <label data-value="告警描述" class="form-label">告警描述：</label>
        <input type="text" name="alarmMsg" class="m-input form-input" placeholder="请输入告警描述">
      </div>
      <div class="confirm-btns">
        <div class="button button-main" data-click="updateFuns">保存</div>
        <div class="button" data-click="hidepopup">取消</div>
      </div>
    </form>
  </div>
  <div id="popupAddHtmlLook" style="display: none;">
    <form>
      <div class="form-item form-must-icon pramas-box" style="padding-left: 65px !important;">
        <label class="form-label">关联服务：</label>
        <div class="search-item pramas" style="min-height: 160px;max-height: 240px;overflow: auto;">

        </div>
      </div>
      <div class="confirm-btns">
        <div class="button" data-click="hidepopup">取消</div>
      </div>
    </form>
  </div>
  <script type='text/javascript' src='../../static/_public/jquery-2.1.1.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/_public/bootstrap.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/_public/bootstrap-table.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/_public/bootstrap-table-export.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/_public/tableExport.js' charset='utf-8'></script>
  <script src="../../static/_public/pinyin.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../static/js/apiConfig.js" type="text/javascript" charset="utf-8"></script>
  <script type='text/javascript' src='../../static/js/common.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/js/view-default.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/js/web/base/utils.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/js/web/base/drag.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/js/web/security/security_common.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/js/web/security/service_regular.js' charset='utf-8'></script>
</body>

</html>