<!DOCTYPE html>
<html lang="en">

<head>
  <title>后台管理</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href=''>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Cache-Control" content="no-store" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <!--IOS设备上禁止将数字识别为可点击的tel link-->
  <meta content="telephone=no" name="format-detection">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" type="text/css" href='../../static/css/font.css'>
  <link rel="stylesheet" type="text/css" href='../../static/css/base.css'>
  <link rel="stylesheet" type="text/css" href='../../static/css/web/public.css'>
  <link rel="stylesheet" type="text/css" href='../../static/css/web/quality_analysis.css'>
  <link rel="stylesheet" type="text/css" href="../../static/_public/bootstrap.table.min.css" />
  <style>
    .fixed-table-footer,
    .fixed-table-body {
      overflow: hidden;
    }

    .big-table .bootstrap-table {
      min-width: 1440px;
    }

    .fixed-table-toolbar .search,
    .fixed-table-toolbar .columns {
      z-index: 103;
    }

    td {
      border: none !important;
    }
  </style>
  <!--[if lt IE 9]>
            <script src="../../static/_public/html5.js"></script>
	<![endif]-->
</head>

<body class="iframe-body">
  <div class="card-space">
    <div class="card-title" id="queryDatabase">查询条件</div>
    <div class="card-container clearfix">
      <form enctype="multipart/form-data">
        <div class="search-item">
          <label class="input-label">供应商名称：</label>
          <div class="select-dropdown m-input" data-do="select" data-search="true">
            <div class="text-warp selected-value"></div>
            <input type="hidden" name="supplierName" />
            <ul class="dropdown-menu">
            </ul>
          </div>
        </div>
        <div class="search-item" style="padding-left: 112px">
          <label class="input-label" style="width: 112px">供应商服务名称：</label>
          <div class="select-dropdown m-input" data-do="select" data-search="true">
            <div class="text-warp selected-value"></div>
            <input type="hidden" name="supplierServiceName" />
            <ul class="dropdown-menu">
            </ul>
          </div>
        </div>
        <div class="search-item">
          <label class="input-label">通道名称：</label>
          <div class="select-dropdown m-input" data-do="select" data-search="true" data-multiple="true">
            <div class="text-warp selected-value"></div>
            <input type="hidden" name="className" />
            <ul class="dropdown-menu">
            </ul>
          </div>
        </div>
        <div class="search-space">
          <div class="button ml" data-click="reset">重置</div>
          <div class="button button-main ml" data-click="queryFun">查询</div>
        </div>
      </form>
    </div>
  </div>
  <div id="app">
    <div class="card-space">
      <div class="card-title">查询结果</div>
      <div class="card-container">
        <div class="chartArea active">
          <div class="item-box">
            <div class="item active">
              <div class='chart-area active big-table'>
                <div class="form-item radio-group has-icon marginTB0">
                  <label class="form-label marginTB0">当天实时数据:</label>
                  <div class="radio-item marginTB0">
                    <input type="radio" class="iconfont" value="0" name="qq" checked="checked" />实时数据监控</div>
                  <div class="radio-item marginTB0">
                    <input type="radio" class="iconfont" value="1" name="qq" />历史数据分析</div>
                  <div class="radio-search-item">
                    <span class="demonstration">选择时间</span>
                    <input type="text" class="m-input" id="dayTime" readonly name="rangetime" />
                  </div>
                </div>
                <div id="chart1" style="height:500px;"></div>
                <div id="chart2" style="height:500px; display: none"></div>
                <div style="overflow:scroll;">
                  <table id="table1">
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-space histroy-detail">
      <div class="card-title">查询结果
        <div class="detail-time">
          <span class="demonstration">选择时间</span>
          <input type="text" class="m-input" id="time" readonly name="rangetime" />
        </div>
        <div class="button-group tabs">
          <div class="button margin-r5 active">图表</div>
          <div class="button">数据</div>
        </div>
      </div>
      <div class="card-container">
        <div class="chartArea active">
          <div class="item-box">
            <div class="item active">
              <div class='chart-area'>
                <div id="chart3" style="height:400px;">
                </div>
              </div>
            </div>
            <div class="item">
              <div class='table-area'>
                <table id="table3"></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type='text/javascript' src='../../static/_public/jquery-2.1.1.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/_public/laydate.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/_public/bootstrap.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/_public/bootstrap-table.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/_public/bootstrap-table-export.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/_public/tableExport.js' charset='utf-8'></script>
  <script src="../../static/_public/pinyin.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../static/js/apiConfig.js" type="text/javascript" charset="utf-8"></script>
  <script src="../../static/_public/echarts.min.js" type="text/javascript" charset="utf-8"></script>
  <script type='text/javascript' src='../../static/js/common.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/js/view-default.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/js/myChart.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/js/web/base/utils.js' charset='utf-8'></script>
  <script type='text/javascript' src='../../static/js/web/configure/supplier_quality_analysis.js'
    charset='utf-8'></script>
</body>

</html>